@media (min-width: 276px) {
  .paragraph-title{
    margin-left:0;
}}

  @media (min-width: 576px) {

    .paragraph-box {
    align-items: flex-start;
    }
    .paragraph-title{
      font-size: 42px;
    }
    .paragraph-title{
      font-size: 42px;
    }
    .popup-title {
      font-size: 42px;
    }
  }

  @media (min-width: 768px) {
    .popup-title{
      margin-bottom: 2rem;
    }
    .popup{
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      width: 80vw;
    }
    .popup-reset {
      right: 40px;
    }
    .paragraph-paragraph{
      margin-top: 20px;
      padding: 0;
      max-width: 70vw;
    }
    .paragraph-title{
      padding:0;
      margin-left: 0rem;
    }
    .table {
      display: table;
    }
    .loader {
      display: inline-block;
    }
    .app-title{
      margin-top: 0;
    }
  }

  @media (min-width: 992px) {
    .module{
      flex-direction: row;
    }
    .paragraph-box{
      margin-left: 5.5rem;
    }
    .app-btn {
      align-self: flex-start;
    }
    .paragraph-paragraph{
      max-width: 380px;
    }
  }