
body::before{
  display: block;
  background-color: rgb(208, 0, 255);
  padding: 10px;
  color: white;
  font-weight: 900;
  text-align: left;
  width: 10vw;
  position: fixed;
  left: 90vw;


}
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }

  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }

  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
    .module{
      flex-direction: row;
    }
    .paragraph-box{
      margin-left: 5.5rem;
    }
    .app-btn {
      align-self: flex-start;
    }
    .paragraph-paragraph{
      max-width: 380px;
    }
  }

  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }

  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }