html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

*{
    box-sizing: border-box;
}

.app-container {
padding: 3.5rem;
display: block;
width: 100%;
}

.module {
width: 100%;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}

.paragraph-box{
margin-left: 5.5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.paragraph-title{
margin-top:20px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 42px;
color: #121212;
}

.app-btn {
all: unset;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 40px;
gap: 10px;
color: #FFFFFF;
background: #E4C1AE;
border-radius: 32px;
cursor: pointer;
margin-bottom: 50px;
}

.app-btn:hover{
opacity: 0.7;
}
.app-btn::after{
content: "Button";
font-family: 'Roboto', sans-serif;
}

.popup-reset-btn {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;
    color: #FFFFFF;
    background: #E4C1AE;
    border-radius: 32px;
    cursor: pointer;
    margin-top: 50px;

}

.paragraph-paragraph{
max-width: 380px;
margin-top: 20px;
margin-bottom: 20px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;
}

.module {
margin-top: 2.5rem;
width: 100%;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
  }

.popup-title{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
    font-size: 42px;
    font-weight: 700;
}
  .popup {
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    width: 900px;
    height: ;
    z-index: 10;
    position: fixed;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    top: 20vh;
    transform: translateX(20%);
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .x {
    position: absolute;
    padding: 10px;
    transform: translate(795px, -15px);
    cursor: pointer;

  }
.x:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 0;
    border-top: 2px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin:center;

}

.x:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 0;
    border-top: 2px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin:center;
}

  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

